:root {
  --primary-200: hsl(206, 94%, 87%);
  --primary-400: hsl(228, 100%, 84%);
  --primary-600: hsl(243, 100%, 62%);
  --primary-700: hsl(245, 29%, 44%);
  --primary-900: hsl(213, 96%, 18%);
  --secondary-400: hsl(354, 84%, 57%);

  --neutral-100: hsl(0, 0%, 100%);
  --neutral-200: hsl(231, 100%, 99%);
  --neutral-300: hsl(217, 100%, 97%);
  --neutral-400: hsl(229, 24%, 87%);
  --neutral-600: hsl(231, 11%, 63%);

  --border-radius-100: 1rem;
  --border-radius-200: 1.5rem;
}

@media screen and (max-width: 36em) {
  :root {
    --border-radius-100: 0.5rem;
    --border-radius-200: 1rem;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

a {
  text-decoration: none;
}
